:root {
  --accent-color: rgb(226, 255, 82);
}

* {
  box-sizing: border-box;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
}

.upper-line {
  background-color: var(--accent-color);
  height: 10px;
}

.company-info {
  text-align: center;
  padding: 5rem 0;
  font-size: 150%;
}

.company-info__title {
  margin-bottom: 0;
}

.product-info,
footer {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
}

.product-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 5rem;
}

.product-image {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.buy-now-btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: var(--accent-color);
  color: black;
  border-radius: 8px;
}

.buy-now-btn:active {
  transform: scale(0.98);
}

.price__value {
  margin: 0;
  font-weight: bold;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
